.admin {
  margin-top: 100px;
  margin-bottom: 100px;
}

.admin h1,
.admin h4 {
  margin-bottom: 0.7em;
}

.admin__category {
  margin-bottom: 0.7em;
}

.admin__nominee input {
  margin-right: 0.5em;
}
